<!DOCTYPE html>
<html>
  <head>
    <title>ChatBot</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>💖 Cute Document ChatBot 🌸</h1>
    <input type="file" id="fileInput" />
    <button onclick="upload()">Upload</button>
    <button onclick="summarize()">Summarize</button>
    <button onclick="translat()">Translate</button>
    <p id="summary"></p>
    <input type="text" id="question" placeholder="Input something..." />
    <!-- <button onclick="ask()">Click</button> -->
    <p id="answer"></p>
    <script src="./script.js"></script>
  </body>
</html>
